<!-- <div class="btns">Lanzar notificacion</div> -->
<div class="container">
  <section id="logoPage">
    <div class="logoPage_content">
      <img src="./assets/logo.png" alt="">
    </div>
  </section>
  <section id="firstStep">
    <div class="fs1_content">
      <div class="fs1_content_title">
        El alumno ingresa al aula, la cámara detecta su rostro y envía los datos al Subsistema de Reconocimiento Facial (SRF)
      </div>
      <div class="fs1_content_row">
        <fa-icon class="fullSize" [icon]="faWalking"></fa-icon>
        <fa-icon class="mediumSize" [icon]="faArrowAltCircleRight"></fa-icon>
        <fa-icon class="fullSize" [icon]="faDoorOpen"></fa-icon>
        <fa-icon class="mediumSize" [icon]="faArrowAltCircleRight"></fa-icon>
        <fa-icon class="fullSize" [icon]="faVideo"></fa-icon>
        <fa-icon class="mediumSize" [icon]="faArrowAltCircleRight"></fa-icon>
        <fa-icon class="fullSize" [icon]="faSmile"></fa-icon>
        <fa-icon class="mediumSize" [icon]="faArrowAltCircleRight"></fa-icon>
        <fa-icon class="fullSize" [icon]="faLaptopCode"></fa-icon>       
      </div>
    </div>
  </section>
  <section id="secondStep">
    <div class="ss2_content">
      <div class="ss2_content--info">El SRF procesa la imágen, identifica al alumno y envia la información al Subsistema Móvil (SM).</div>
      <div class="ss2_content--info">El SM obtiene del SYSACAD los datos del alumno identificado por la cámara.</div>
      <div class="ss2_content_row">
        <fa-icon class="fullSize" [icon]="faLaptopCode"></fa-icon>
        <fa-icon class="mediumSize" [icon]="faArrowAltCircleLeft"></fa-icon>
        <span class="sysacadDiv">SYSACAD</span>
      </div>
    </div>
  </section>
  <section id="threeStep">
    <div class="ts3_content">
      <div class="ts3_content--info">Simulación: Seleccione una materia y presione el botón</div>
      <div class="ts3_content--main">
        <div class="ts3_content--main_left">
          <div class="option" [class.active]="isActive(0)" (click)="subjectSelected(0)">Algoritmos y Estructura de Datos<div class="day">(Vie. 04/12)</div></div>
          <div class="option" [class.active]="isActive(1)" (click)="subjectSelected(1)">Sistemas y Organizaciones<div class="day">(Mie. 09/12)</div></div>
          <div class="option" [class.active]="isActive(2)" (click)="subjectSelected(2)">Matemática Discreta <div class="day">(Jue. 10/12)</div></div>
          <div class="option" [class.active]="isActive(3)" (click)="subjectSelected(3)">Arquitectura de Computadoras<div class="day">(Mie. 16/12)</div></div>
        </div>
        <div class="ts3_content--main_right">
          <div class="btns" (click)="tofourStep()"><fa-icon class="fullSize" [icon]="faPaperPlane"></fa-icon></div> 
        </div>
      </div>
    </div>
  </section>
  <section id="fourStep">
    <div class="fs4_content">
      <div class="fs4_content_left">
        Se registra la asistencia del alumno reconocido en una BD y se dispara una notificación a su celular.
      </div>
      <div class="fs4_content_right">
        <div class="smartphone">
          <div class="content">
            <img src="./assets/starf1.jpeg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="fiveStep">
    <div class="fs5_content">
      <div class="fs5_content_left">
        <div class="smartphone">
          <div class="content">
            <img src="./assets/starf2.gif" alt="">
          </div>
        </div>
      </div>
      <div class="fs5_content_right">
        En el Subsistema móvil se puede visualizar el historial de asistencias de las materias a las cuáles está inscripto.
      </div>
    </div>
  </section>
</div>
